
 <div class="title-flag">
   <img class="flags" src="{{flags.svg}}" alt="Flag">
  <h2 class="title">{{name.official}}</h2>
 </div>
  <p><b>Capital: </b>{{capital}}</p>
  <p><b>Population: </b>{{population}}</p>
  <p><b>Languages: </b>{{languages}}</p>


